# Eclipse files
.classpath
.project
.settings/
.metadata/

# Build output
target/

# IDE-specific files
*.tmp
*.bak
*.swp

# Log files
logs/

# Test results
**/target/test-classes/
**/target/test-reports/

# Other potentially sensitive files
.env*
.gitconfig